<link rel="stylesheet" href="../../css/backButton.css">
  <center><a href="#" class="previous">Back</a></center>
   <fieldset>
    <legend>Articles Details</legend>
    <table border="1" class="table table-hover" >
        <thead>
            <tr>
                <td>#</td>
                <td>WebSite</td>
                <td>Total Articles</td>
            </tr>
        </thead>
        <tbody>
              <tr ng-repeat="x in TotalArticles">
                  <td>{{$index+1}}</td>
                  <td>{{x._id}}</td>
                  <td>{{x.count}}</td>
              </tr>
        </tbody>
    </table>
</fieldset>
