<link rel="stylesheet" href="../../css/backButton.css">
<center><a href="#" class="previous">Back</a></center>
<fieldset>
    <legend>Urls Details</legend>
    <table border="1" class="table table-hover">
        <thead>
            <tr>
                <td>#</td>
                <td>Website</td>
                <td>Total Urls</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in TotalUrls">
                <td>{{$index+1}}</td>
                <td>{{x._id}}</td>
                <td>{{x.count}}</td>
            </tr>
        </tbody>
    </table>
</fieldset>
