<div class="menu1">
    <div class="dropdown">
        <button class="btn2 btn2-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort By {{element}}
    <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li ng-click="$parent.element='Date'"><a href="#/articles/sortbyDate">Date</a></li>
            <li ng-click="$parent.element='Popularity'"><a href="#/articles/sortbyPopularity">Popularity</a></li>
        </ul>
    </div>

    <div class="filter">
        <!----------------  Date Picker ------------------>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.7/angular-material.min.css" />
        <link rel="stylesheet" href="../css/angular-md.css">
        <md-content layout-padding ng-cloak>
            <div layout-gt-xs="row">
                <center>
                    <div flex-gt-xs>
                        <!--     <h4>Filter By Date</h4>  -->
                        <md-datepicker ng-model="selectedDate" md-placeholder="Enter date" md-open-on-focus ng-change="getArticlesOfDate()"></md-datepicker>
                    </div>
                </center>
            </div>
        </md-content>

    </div>

</div>


<div class="innerDiv">


    <!--------------------- loader--------------------->
    <center>
        <div class=" lds-roller" ng-show="loader">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </center>

    <!------------------     Main Articles Content View---------------------->

    <div class="contain" ng-show="main">
        <div class="summary">
            <span ng-show="loader2"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></span> <span ng-show="articleslengthShow">{{TotalArticlesLength}}</span>
            <span> articles found.</span>
        </div>
        <div class="main">

            <div class="template" ng-repeat="x in article.data" style="background: #eaeaea;">
                <div class="item">
                    <div class="image"><a class="url" href="{{x.WebInfo.urlsInfo.urlName}}"><img ng-src="{{x.WebInfo.urlsInfo.ImageSource}}" onerror="this.src='http://www.51allout.co.uk/wp-content/uploads/2012/02/Image-not-found.gif'" width="155px" height="150px"></a></div>
                    <div class="Details">
                        <div class="title">
                            <h1 class="h1"><a class="url" href="{{x.WebInfo.urlsInfo.urlName}}">{{x.WebInfo.urlsInfo.Title}}</a></h1>
                        </div>
                        <div class="website">{{x.WebSite}}</div>
                        <div class="time"><span>{{x.WebInfo.urlsInfo.Date | date : format}}</span></div>
                        <div class="socialLikes"><span class="glyphicon glyphicon-thumbs-up">
                <span>{{x.WebInfo.urlsInfo.fbStats.TotalLikes}}</span>
                            </span>
                        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="socialComments"><span class="glyphicon glyphicon-comment">
                <span>{{x.WebInfo.urlsInfo.fbStats.TotalComments}}</span></span>
                        </div>

                        <div class="articleSentiment">
                            <span>{{(x.WebInfo.urlsInfo.Sentiments.Article.compound >=0) ? "Positive" : " Negative"}} 
                    </span>
                        </div>

                        <div class="nouns">
                            <span ng-repeat="terms in x.WebInfo.urlsInfo.tfidf | limitTo: 20">{{terms.TermsName}}, </span>
                        </div>

                        <div class="show-related">
                            <button value="{{x.WebInfo.urlsInfo.tfidf}}" type="button" class="show-related-button btn btn-info btn-arrow-right" ng-click="getRelatedArticles ($event,$index)">Related Articles</button>
                        </div>
                        <div class="show-details">
                            <button value="{{x.WebInfo.urlsInfo.Title}}" type="button" class="show-details-button btn btn-info" ng-click="showFullDetails($event,$index)">Show Details</button>
                        </div>
                        <!-- <div class="index">{{($index+1)+(PAGE_NUMBER - 1) * NUMBER_OF_ITEMS}}</div>
                &nbsp; &nbsp;     -->
                    </div>
                </div>
                <!-------- Related Articles------------------------------------------------------->
                <div class="articles">
                    <div ng-if="relArticles">

                        <!--------- Related Articles Loader --------------->
                        <div ng-show="relLoader==$index" class="lds-ring">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>


                        <div ng-show="showArticles==$index">
                            <div class="related-summary" ng-show="showTotalRelatedData">
                                <span>Top 20 related articles found.</span>
                            </div>
                            <div id="template" ng-repeat="y in Relatedarticle | orderBy:'-MatchedItem'">
                                <div class="item">
                                    <div class="image"><a class="url" href="{{y.Url}}"><img ng-src="{{y.image}}" onerror="this.src='http://www.51allout.co.uk/wp-content/uploads/2012/02/Image-not-found.gif'" width="155px" height="150px"></a></div>
                                    <div class="Details">
                                        <div class="title">
                                            <h1 class="h1"><a class="url" href="{{y.Url}}">{{y.Title}}</a></h1>
                                        </div>
                                        <div class="website">{{y.WebSite}}</div>
                                        <div class="time"><span>{{y.Date | date : format}}</span></div>
                                        <div class="socialLikes"><span class="glyphicon glyphicon-thumbs-up">
                <span>{{y.TotalLikes}}</span>
                                            </span>
                                        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <div class="socialComments"><span class="glyphicon glyphicon-comment">
                <span>{{y.TotalComments}}</span></span>
                                        </div>

                                        <div class="articleSentiment">
                                            <span>{{(y.Sentiments >=0) ? "Positive" : " Negative"}} 
                    </span>
                                        </div>

                                        <div class="nouns">
                                            <span ng-repeat="terms in y.MatchedTerms">{{terms.TermsName}}, </span>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                         </div>
                        <div ng-if="jsonDataView">
                       <!--------- Show DUMP JSON Loader --------------->
                        <div ng-show="relLoader==$index" class="lds-ring">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div ng-show="jsonData==$index" class="article-details">
                            <div>
                                <div ng-include="json-formatter.html"></div>
                                <json-formatter class="json-formatter-Black" json="myJSON" open="500"></json-formatter>
                            </div>
                        </div>
                    </div>


                    

                </div>
            </div>
        </div>
        <!----------------- Back & Forward Buttons--------------------------------------->
        <center>
            <button class="btn btn-primary btnPrevious" ng-hide="previous" ng-click="PreviousPage()" type="button">Previous</button> &nbsp;&nbsp;

            <div class="form-group input-group-sm" style="display:inline-block; float:right; margin-right:10px;">
                <span class="badge badge-light">Go to page </span>
                <input size="4" placeholder="page #" ng-model="pageNo">
                <span class="badge badge-light">Of {{TotalPages}}</span>
                <button class="btn btn-primary btn-xs" ng-click="getPage()">Go</button></div>
            &nbsp;&nbsp;
            <button class="btn btn-primary btnNext" ng-hide="next" ng-click="NextPage()" type="button"> Next</button>

        </center>

    </div>


    <div ng-show="ServerMsg">
        <center>
            <h1>{{Message}}</h1>
        </center>
    </div>
