<!----------------  Date Picker ------------------>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.7/angular-material.min.css" />
<link rel="stylesheet" href="../css/angular-md.css">
<md-content layout-padding ng-cloak>
    <div layout-gt-xs="row">
        <center>
            <div flex-gt-xs>
           <!--     <h4>Filter By Date</h4>  -->
                <md-datepicker ng-model="selectedDate" md-placeholder="Enter date" md-open-on-focus ng-change="getArticlesOfDate()"></md-datepicker>
            </div>
        </center>
    </div>
</md-content>


<div class="main-term">

    <!-----------------  Articles View ------------------------->

    <!--------------------- loader--------------------->
    <center>
        <div class=" lds-roller" ng-show="loader">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </center>

    <!------------------     Main Articles Content View---------------------->

    <div class="contain" ng-show="main">
        <div class="summary">
            <span ng-show="loader2"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></span> <span ng-show="articleslengthShow">{{TotalArticlesLength}}</span>
            <span> articles found.</span>
        </div>
        <div class="main">

            <div id="template" ng-repeat="x in article.data">
                <div class="item">
                    <div class="index">{{($index+1)+(PAGE_NUMBER - 1) * NUMBER_OF_ITEMS}}</div>
                    <div class="website">{{x.WebSite}}</div> &nbsp; &nbsp;
                    <div class="socialLikes"><span class="glyphicon glyphicon-thumbs-up">
                <span>{{x.WebInfo.urlsInfo.fbStats.TotalLikes}}</span>
                        </span>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="socialComments"><span class="glyphicon glyphicon-comment">
                <span>{{x.WebInfo.urlsInfo.fbStats.TotalComments}}</span></span>
                    </div>

                    <div class="title">
                        <a class="url" href="{{x.WebInfo.urlsInfo.urlName}}">{{x.WebInfo.urlsInfo.Title}}</a>
                    </div>
                    <div class="nouns">
                        <span ng-repeat="terms in x.WebInfo.urlsInfo.tfidf | limitTo: 20">{{terms.TermsName}}, </span>
                    </div>
                    <div class="show-related">
                        <button value="{{x.WebInfo.urlsInfo.tfidf}}" type="button" class="show-related-button btn btn-info btn-arrow-right" ng-click="getRelatedArticles ($event,$index)">Related Articles</button>
                    </div>
                    <div class="show-details">
                        <button value="{{x.WebInfo.urlsInfo.Title}}" type="button" class="show-details-button btn btn-info" ng-click="showFullDetails($event,$index)">Show Details</button>
                    </div>

                    <!-------- Related Articles------------------------------------------------------->
                    <div ng-if="relArticles">

                        <!--------- Related Articles Loader --------------->
                        <div ng-show="relLoader==$index" class="lds-ring">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>


                        <div ng-show="showArticles==$index">
                            <div class="related-summary" ng-show="showTotalRelatedData">
                                <span>Top 20 related articles found.</span>
                            </div>
                            <div id="template" ng-repeat="y in Relatedarticle | orderBy:'-MatchedItem'">
                                <div class="item">
                                    <div class="index">{{$index+1}}</div>
                                    <div class="website">{{y.WebSite}}</div> &nbsp; &nbsp;
                                    <div class="socialLikes"><span class="glyphicon glyphicon-thumbs-up">&nbsp;<span>{{y.TotalLikes}}</span></span>
                                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="socialComments"><span class="glyphicon glyphicon-comment">&nbsp;<span>{{y.TotalComments}}</span></span>
                                    </div>
                                    <div class="title"><a class="url" href="{{y.Url}}">{{y.Title}}</a></div>
                                    <div class="nouns">
                                        <span ng-repeat="Terms in y.MatchedTerms  | limitTo: 20">{{Terms.TermsName}}, </span>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>

                    <div ng-if="jsonDataView">
                        <!--------- JSON DUMP Loader --------------->
                        <div ng-show="relLoader==$index" class="lds-ring">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>

                        <div ng-show="jsonData==$index" class="article-details">
                            <div>
                                <div ng-include="json-formatter.html"></div>
                                <json-formatter class="json-formatter-Black" json="myJSON" open="500"></json-formatter>
                            </div>
                        </div>
                    </div>



                </div>
            </div>

        </div>

        <!----------------- Back & Forward Buttons--------------------------------------->
        <center>
            <button class="btn btn-primary btnPrevious" ng-hide="previous" ng-click="PreviousPage()" type="button">Previous</button> &nbsp;&nbsp;

            <div class="form-group input-group-sm" style="display:inline-block; float:right; margin-right:10px;">
                <span class="badge badge-light">Go to page </span>
                <input size="4" placeholder="page #" ng-model="pageNo">
                <span class="badge badge-light">Of {{TotalPages}}</span>
                <button class="btn btn-primary btn-xs" ng-click="getPage()">Go</button></div>
            &nbsp;&nbsp;

            <button class="btn btn-primary btnNext" ng-hide="next" ng-click="NextPage()" type="button"> Next</button>

        </center>
                         

    </div>

</div>

<div ng-show="ServerMsg">
    <center>
        <h1>{{Message}}</h1>
    </center>
</div>
