<div col-md-3>
   <center><span class="flash dashMsg">Click over the Button to show the Results....</span></center> 
</div>
   
   <br>
   <div class="container-fluid">
    <div class="row">
       
       
        <!--------------------- loader
        <center>
            <div class=" lds-roller" ng-show="loader">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </center>         --------------------->



        <!--   DashBoard Content  ------------------>
        <div class="main">
            <div class="col-md-3">
               <a class="info-tiles tiles-inverse has-footer" href="#/dash/urlsdetails">  
                    <div class="tiles-heading">
                        <div class="pull-left">URL's</div>
                        <div class="pull-right">
                            <div id="tileorders" class="sparkline-block"><canvas width="39" height="13" style="display: inline-block; width: 39px; height: 13px; vertical-align: top;"></canvas></div>
                        </div>
                    </div>
                    <div class="tiles-body">
                        <div class="text-center">{{total_urls}}</div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a class="info-tiles tiles-green has-footer" href="#/dash/articlesdetails">
                    <div class="tiles-heading">
                        <div class="pull-left">Articles</div>
                        <div class="pull-right">
                            <div id="tilerevenues" class="sparkline-block"><canvas width="40" height="13" style="display: inline-block; width: 40px; height: 13px; vertical-align: top;"></canvas></div>
                        </div>
                    </div>
                    <div class="tiles-body">
                        <div class="text-center">{{total_Articles}}</div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a class="info-tiles tiles-blue has-footer" href="#/dash/nounsdetails">
                    <div class="tiles-heading">
                        <div class="pull-left">Nouns</div>
                        <div class="pull-right">
                            <div id="tiletickets" class="sparkline-block"><canvas width="13" height="13" style="display: inline-block; width: 13px; height: 13px; vertical-align: top;"></canvas></div>
                        </div>
                    </div>
                    <div class="tiles-body">
                        <div class="text-center">{{Total_Nouns}}</div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a class="info-tiles tiles-midnightblue has-footer" href="#/dash/sentimentsdetails">
                    <div class="tiles-heading">
                        <div class="pull-left">Sentiment</div>
                        <div class="pull-right">
                            <div id="tilemembers" class="sparkline-block"><canvas width="39" height="13" style="display: inline-block; width: 39px; height: 13px; vertical-align: top;"></canvas></div>
                        </div>
                    </div>
                    <div class="tiles-body">
                        <div class="text-center">{{Total_Sentiments}}</div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a class="info-tiles tiles-green has-footer" href="#/dash/handlesdetails">
                    <div class="tiles-heading">
                        <div class="pull-left">Twitter Handles</div>
                        <div class="pull-right">
                            <div id="tilemembers" class="sparkline-block"><canvas width="39" height="13" style="display: inline-block; width: 39px; height: 13px; vertical-align: top;"></canvas></div>
                        </div>
                    </div>
                    <div class="tiles-body">
                        <div class="text-center">{{Total_TwitterHandles}}</div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a class="info-tiles tiles-inverse has-footer" href="#/dash/tweetdetails">
                    <div class="tiles-heading">
                        <div class="pull-left">Tweets</div>
                        <div class="pull-right">
                            <div id="tilemembers" class="sparkline-block"><canvas width="39" height="13" style="display: inline-block; width: 39px; height: 13px; vertical-align: top;"></canvas></div>
                        </div>
                    </div>
                    <div class="tiles-body">
                        <div class="text-center">{{Total_Tweets}}</div>
                    </div>
                </a>
            </div>

        </div>

    </div>


</div>
