<!------------------     Handles Registration Panel ---------------------->

<div class="handlesInfo">
    <center>
        <div class="form-group row">
            <label for="example-search-input" class="col-2 col-form-label">Handle</label>
            <div class="col-10">
                <input class="form-control" type="text" ng-model="handle" placeholder="Enter Handle">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-email-input" class="col-2 col-form-label">WebSite</label>
            <div class="col-10">
                <input class="form-control" type="text" ng-model="website" placeholder="Enter WebSite">
            </div>
        </div>
        <button ng-click="storeSocialHandles()" class="btn1 btn1-primary">Submit</button>
    </center>
</div>
<br><br>
<!-------------------- List of Handles Registered --------------------------->

<!--------------------- loader--------------------->
<center>
    <div class=" lds-roller" ng-show="loader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</center>

<div class="contain" ng-show="main">
    <!---   <center><h2>List of Social Handles</h2></center>    -->
    <div class="summary">
        <span ng-show="loader2"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></span>
        <span ng-show="totalHandleShow">{{TotalHandles}}</span>
        <span> Handles found.</span>
    </div>
    <div class="main">

        <div id="template"  ng-repeat="x in AllTwitterData">
            <div class="item">
                <div class="index">{{($index+1)+(PAGE_NUMBER - 1) * NUMBER_OF_ITEMS}}</div>
                <div class="website">{{x.webSite}}</div>
                <div class="title">
                    <span>{{x.handle}}</span>
                </div>
            </div>

        </div>
    </div>

    <!----------------- Back & Forward Buttons--------------------------------------->
    <center>
        <button class="btn btn-primary btnPrevious" ng-hide="previous" ng-click="PreviousPage()" type="button">Previous</button> &nbsp;&nbsp;

        <button class="btn btn-primary btnNext" ng-hide="next" ng-click="NextPage()" type="button"> Next</button>

    </center>

</div>
