<!--------------------- loader--------------------->
<center>
    <div class=" lds-roller" ng-show="loader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</center>

<!------------------     Main Tweets Content View---------------------->

<div class="contain" ng-show="main">
    <div class="summary">
        <span ng-show="loader2"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></span> <span ng-show="totaltweetsShow">{{TotalTweets}}</span>
        <span> Tweets found.</span>
    </div>
    <div class="main">

        <div id="template"  ng-repeat="x in tweet.data">
            <div class="item">
                <div class="index">{{($index+1)+(PAGE_NUMBER - 1) * NUMBER_OF_ITEMS}}</div>
                <div class="website">{{x.TweetsData.handle}}</div>
                <div class="title">
                    <a class="url" href="{{x.TweetsData.url}}">{{x.TweetsData.Tweets}}</a>
                </div>
                <div class="nouns">
                    <span>{{x.TweetsData.Date_Created}}</span>
                </div>
                <div class="show-details">
                    <button value="{{x.TweetsData.ID}}" type="button" class="show-details-button btn btn-info" ng-click="showFullDetails($event,$index)">Show Details</button>
                </div>

                <!-------- DUMP JSON DATA------------------>

                <div ng-if="jsonDataView">
                    <!--------- JSON DUMP Loader --------------->
                    <div ng-show="relLoader==$index" class="lds-ring">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>

                    <div ng-show="jsonData==$index" class="article-details">
                        <div>
                            <div ng-include="json-formatter.html"></div>
                            <json-formatter class="json-formatter-Black" json="myJSON" open="500"></json-formatter>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!----------------- Back & Forward Buttons--------------------------------------->
    <center>
        <button class="btn btn-primary btnPrevious" ng-hide="previous" ng-click="PreviousPage()" type="button">Previous</button> &nbsp;&nbsp;

        <button class="btn btn-primary btnNext" ng-hide="next" ng-click="NextPage()" type="button"> Next</button>

    </center>


</div>
