<!--------------------- loader--------------------->
<center>
    <div class=" lds-roller" ng-show="loader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</center>

<!------------------     Main URL's View---------------------->

<div class="contain" ng-show="main">
    <div class="summary">
        <span ng-show="loader2"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></span> <span ng-show="totalArticlesShow">{{TotalArticlesLength}}</span>
        <span>URL's found..</span>
    </div>
    <div class="main">
        <div class="item" ng-repeat="x in article.data">
            <div class="index">{{($index+1)+(PAGE_NUMBER - 1) * NUMBER_OF_ITEMS}}</div>
            <div class="website"><a class="url" href="{{x.WebInfo.urlsInfo.urlName}}">{{x.WebInfo.urlsInfo.urlName}}</a></div>
        </div>
    </div>

    <!----------------- Back & Forward Buttons--------------------------------------->
    <center>
        <button class="btn btn-primary btnPrevious" ng-hide="previous" ng-click="PreviousPage()" type="button">Previous</button> &nbsp;&nbsp;

        <button class="btn btn-primary btnNext" ng-hide="next" ng-click="NextPage()" type="button"> Next</button>

    </center>

</div>
