.layout-padding{
    
    position: fixed;
   /* width: 100%; */
    z-index: 1;
     overflow: unset;
}

.main-term{
    
    padding-top: 127px;
}
.md-datepicker-calendar-pane {
    left: 248px;
    top: 168.5px;
}
.layout-gt-xs-row{
    padding:0px;
}

