a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 4px;
}

a:hover {
    background-color: #5499C7  ;
    color: #F2F3F4;
}

.previous {
    background-color: #E5E7E9;
    color: black;
}