.btn1-info ,.btn2-info{
   
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    
}
.btn1,.btn2{
   
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
     padding: 0.375rem 1.75rem;
    border-radius: 1.25rem;
}

.btn2{
    position: fixed
}
.dropdown-menu {
    margin-top: 31px;
}
.btn2:hover{
    background-color: #5bc0de;
    border-color: #46b8da;
}