@media (max-width: 1000px) {
				.contain {
		    		width: 90%;
				    margin: auto;
		    	}	    			
	    	}

	    	.contain {
	    		width: 78%;
			    margin: auto;
	    	}

	    	.summary {
			    background-color: #eaeaea;
			    padding: 5px 10px;
			    text-align: right;
			    font-size: 12px;
			    margin-right: 30px;
			    margin-left: 10px;
			}

			.main {
			    
			}
	    	.item {
			    background: #eaeaea;
			    margin: 10px;
			    padding: 10px;
			   /* font-size: 12px; */
			    -webkit-transition: all 500ms; /* Safari */
			    transition: all 500ms;
			}

			.item:hover .index, 
			.item:hover .website{
				background: #fff;
				color: #000;
			}

			.related-articles .item {
			    background: #dcdcdc;
			    margin: 5px;
    			padding: 5px;
			}

			.item.details-open,
			.item.related-open {
			    width: auto;
			    /*min-height: 80vh;*/
			}

			.item div {
			    margin-right: 10px;
			}

			.item .website, .item .index {
			    display: inline-block;
			    background: #d8d5d5;
			    text-transform: uppercase;
			    padding: 7px;
			    font-size: 10px;
			    font-weight: bold;
			}

			button.btn {
		        background: #824040;
		        border: none;
			    color: #fff;
			    font-size: 11px;
			    padding: 3px 10px;
			    margin: 5px 0px;
			    cursor: pointer;
			}

			.item {
			    display: block;
			    margin: 5px 0 10px 0;
			}

			.item .nouns {
			    overflow: hidden;
				font-size: 10px;
			    padding: 10px 0;
			}
			.show-related, .show-details{
				display: inline-block;
			}
			.article-details {
			    word-break: break-word;
			    background-color: #ddd;
			    padding: 10px 20px;
			}
			
			.article-details * {
			    font-size: 11px;
			}

			.related-summary {
			    background-color: #dcdcdc;
			    padding: 5px 10px;
			    text-align: right;
			    font-size: 12px;
			    margin: 0 10px;
			    /* margin-left: 10px; */
			}
.body{
    
    background-image: url("../images/IMG_425829.jpg");
    background-size: cover;
}
.socialLikes{
    
    display: inline-block;
    padding: 7px;
}

.socialComments{
    
     display: inline-block;
    padding: 7px;
}
.articleSentiment{
     display: inline-block;
    padding: 7px;
    color: #D68910;
}
.image{
    display: inline-block;
}
.h1{
    
    font-size: 20px;
}

.template .item {
    display: flex;
}
.time{
    display: inline-block;
}
.articles{
   /*      background: #dcdcdc;
			    margin: 5px;
    			padding: 5px;      */
}
.element.style {
    background-color: #eaeaea;
}
.dropdown{
    position : fixed;
}
.filter{
    float: right;
    padding-right: 224px;
}
.menu1{
    padding-top :0px;
}
.innerDiv{
    padding-top :65px;
}