.flash {
    animation-name: flash;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flash {
    from {
        color: #F80000;
    }
    to {
        color: #FFFF66;
    }
}

.dashMsg{
    
    font-weight: bold
}