#sidebar-wrapper {
    margin-top: 81px;
}

@media screen and (min-width: 768px){
    .jumbotron {
        padding: 1px 0;
    }
    
}
@media screen and (max-width: 768px){
    .jumbotron {
        padding: 1px 0;
    }
    #sidebar-wrapper {
        margin-top: 51px;
    }
    .hamburger {
        top: 0px;
        margin-top: 55px;
    }
}

.container {
    margin-top: -72px;
    margin-left: 193px;
}
.jumbotron {
   
    background-color: #85929E;
    position: fixed;
    width: 100%;
    z-index: 1;
}
#page-content-wrapper {
   padding-top: 100px;
    padding-left: 220px;
}

#wrapper.toggled #page-content-wrapper {
    z-index: -1;
}