.handlesInfo {
    @media (max-width: 100px) width: 90%;
    margin: auto;
    width: 800px;

}

.col-2 {
    color: #212F3C;
}

.form-control {
    width: 90%;
}

.btn1:hover {
    background-color: #008CBA;
    color: white;
}
h2{
    background-color: #e9ecef;
}